h1 {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 30pt;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  border-radius: 10px;
  width: fit-content;
}
h2 {
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 25pt;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}
h3 {
  font-family: "DM Sans";
  font-weight: normal;
  font-size: 15pt;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
}
.gmorph-input {
  font-family: "DM Sans";
  font-size: large;
  border-radius: 20px;
  height: 40px;
  width: fit-content;
  min-width: 160px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  outline: none;
  padding-left: 5px;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.search-bar{
  display: flex;

}
.image-button{
  border: none;
  background-color: rgba(0,0,0,0);
  display: flex;
  font-family: "DM Sans";
  font-weight: bolder;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 2px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  border-radius: 19.5px;
  margin-left: 5px;
}
.gmorph-button {
  backdrop-filter: blur(5px); background-color: rgba(255, 255, 255, 1); border-radius: 26px; box-shadow: 0px 35px 68px 0px rgba(145, 192, 255, 0.5), inset 0px -12px 16px 0px rgba(145, 192, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
  height: fit-content;
  width: fit-content;
  border: none;
  padding: 5px;
  font: "DM Sans";
  font-weight: bolder;
  
}

.container {
  background-image: url("https://images.unsplash.com/photo-1550859492-d5da9d8e45f3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
.blinking-caret::after {
  color: black;
  content: "|"; /* The caret symbol */
  animation: blink-caret 2s infinite; /* Blinking animation */
}

/* Define the blinking animation */
@keyframes blink-caret {
  0%,
  100% {
    opacity: 0;
  } /* Blink in and out at 0% and 100% */
  50% {
    opacity: 1;
  } /* Fully visible at 50% */
}
/* For weather table elements */

.weather-table {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 10px;
  border-radius: 10px;
  height: fit-content;
  width: 100%;
  padding: 5px;
  visibility: hidden;
  transition-duration: 1000ms;
}
.unhide {
  visibility: visible;
  transition-duration: 1000ms;
}
.weather-card {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 100px;
  width: 20%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.title-card {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100px;
    width: fit-content;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.weather-icon {
  height: 90px;
  width: 90px;
}
.place-card {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 100px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
 @media screen and (max-width: 768px) {
  .weather-table {
    flex-direction: column;
  }
  .weather-card {
    width: 100%;
  }
  .title-card {
    width: 100%;
  }
  .search-bar {
    width: 100%;
  }
  .gmorph-input {
    width: 100%;
  }
 }
